doctype html
meta(charset='utf-8')
html(lang="en")
  head
    title webui test
    style
      include css/style.css
  body
    script(src='//d3js.org/d3.v3.min.js', charset='utf-8')
    script(src="js/score.js", charset='utf-8')
    script(src="js/latency.js", charset='utf-8')
    script(src='js/disk.js', charset='utf-8')
    script(src='js/network.js', charset='utf-8')
    script(src='js/cpu.js', charset='utf-8')    
    script(type='text/javascript').
        getlatency('db1.csv');
        getCPUStatus('db1_cpu0.csv');
        getNetStatus('db1_network.csv');
        getDiskStatus('db1_sda1.csv');
        getlatency('db2.csv');
        getNetStatus('db2_network.csv');
        getCPUStatus('db2_cpu1.csv');
        getDiskStatus('db2_sda1.csv');
        getlatency('db3.csv');
        getNetStatus('db3_network.csv');
        getCPUStatus('db3_cpu1.csv');
        getDiskStatus('db3_sda1.csv');
    h1 WebUI - Test Page
    


